# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [72]:
# Your code goes here
import pandas as pd

df1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
df2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
df3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

In [76]:
df1.columns = [col.strip().replace(" ","_").lower() for col in df1.columns]
df1.dropna(how="all", inplace=True)
df1.loc[df1['gender'] == "female", "gender"] = "F"
df1.loc[df1['gender'] == "Femal", "gender"] = "F"
df1.loc[df1['gender'] == "Male", "gender"] = "M"
df1.loc[df1['st'] == "WA", "st"] = "Washington"
df1.loc[df1['st'] == "AZ", "st"] = "Arizona"
df1.loc[df1['st'] == "Cali", "st"] = "California"
df1.loc[df1['education'] == "Bachelors", "education"] = "Bachelor"
df1.loc[df1['vehicle_class'] == "Sports Car", "vehicle_class"] = "Luxury"
df1.loc[df1['vehicle_class'] == "Luxury SUV", "vehicle_class"] = "Luxury"
df1.loc[df1['vehicle_class'] == "Luxury Car", "vehicle_class"] = "Luxury"
df1["number_of_open_complaints"]=df1["number_of_open_complaints"].dropna().apply(lambda row: row.split("/")[1])
df1["number_of_open_complaints"] = df1["number_of_open_complaints"].astype("int")
df1["gender"] = df1["gender"].fillna("N/A")
df1["customer_lifetime_value"]= df1["customer_lifetime_value"].str.replace("%","")
df1["customer_lifetime_value"] = df1["customer_lifetime_value"].astype("float")
df1["customer_lifetime_value"]= df1["customer_lifetime_value"].fillna(df1["customer_lifetime_value"].mean())
df1["customer_lifetime_value"] = df1["customer_lifetime_value"].astype("int")
df1["income"] = df1["income"].astype("int")
df1["monthly_premium_auto"] = df1["monthly_premium_auto"].astype("int")
df1["total_claim_amount"] = df1["total_claim_amount"].astype("int")
df1.reset_index(drop=True)

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,N/A,Master,793690,0,1000,0,Personal Auto,Four-Door Car,2
1,QZ44356,Arizona,F,Bachelor,697953,0,94,0,Personal Auto,Four-Door Car,1131
2,AI49188,Nevada,F,Bachelor,1288743,48767,108,0,Personal Auto,Two-Door Car,566
3,WW63253,California,M,Bachelor,764586,0,106,0,Corporate Auto,SUV,529
4,GA49547,Washington,M,High School or Below,536307,36357,68,0,Personal Auto,Four-Door Car,17
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955,38644,78,1,Personal Auto,Four-Door Car,361
1067,VJ51327,California,F,High School or Below,2031499,63209,102,2,Personal Auto,SUV,207
1068,GS98873,Arizona,F,Bachelor,323912,16061,88,0,Personal Auto,Four-Door Car,633
1069,CW49887,California,F,Master,462680,79487,114,0,Special Auto,SUV,547
1070,MY31220,California,F,College,899704,54230,112,0,Personal Auto,Two-Door Car,537

In [82]:
df3.columns = [col.strip().replace(" ","_").lower() for col in df3.columns]
df3.dropna(how="all", inplace=True)
df3.rename(columns= {"state":"st"}, inplace = True)
df3.loc[df3['gender'] == "female", "gender"] = "F"
df3.loc[df3['gender'] == "Femal", "gender"] = "F"
df3.loc[df3['gender'] == "Male", "gender"] = "M"
df3.loc[df3['st'] == "WA", "st"] = "Washington"
df3.loc[df3['st'] == "AZ", "st"] = "Arizona"
df3.loc[df3['st'] == "Cali", "st"] = "California"
df3.loc[df3['education'] == "Bachelors", "education"] = "Bachelor"
df3.loc[df3['vehicle_class'] == "Sports Car", "vehicle_class"] = "Luxury"
df3.loc[df3['vehicle_class'] == "Luxury SUV", "vehicle_class"] = "Luxury"
df3.loc[df3['vehicle_class'] == "Luxury Car", "vehicle_class"] = "Luxury"
df3["number_of_open_complaints"] = df3["number_of_open_complaints"].astype("int")
df3["gender"] = df3["gender"].fillna("N/A")
df3["customer_lifetime_value"] = df3["customer_lifetime_value"].astype("float")
df3["customer_lifetime_value"]= df3["customer_lifetime_value"].fillna(df3["customer_lifetime_value"].mean())
df3["customer_lifetime_value"] = df3["customer_lifetime_value"].astype("int")
df3["income"] = df3["income"].astype("int")
df3["monthly_premium_auto"] = df3["monthly_premium_auto"].astype("int")
df3["total_claim_amount"] = df3["total_claim_amount"].astype("int")
df3.reset_index()

,index,customer,st,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,total_claim_amount,vehicle_class
0,0,SA25987,Washington,3479,High School or Below,M,0,104,0,Personal Auto,499,Two-Door Car
1,1,TB86706,Arizona,2502,Master,M,0,66,0,Personal Auto,3,Two-Door Car
2,2,ZL73902,Nevada,3265,Bachelor,F,25820,82,0,Personal Auto,393,Four-Door Car
3,3,KX23516,California,4455,High School or Below,F,0,121,0,Personal Auto,699,SUV
4,4,FN77294,California,7704,High School or Below,M,30366,101,2,Personal Auto,484,SUV
...,...,...,...,...,...,...,...,...,...,...,...,...
7065,7065,LA72316,California,23405,Bachelor,M,71941,73,0,Personal Auto,198,Four-Door Car
7066,7066,PK87824,California,3096,College,F,21604,79,0,Corporate Auto,379,Four-Door Car
7067,7067,TD14365,California,8163,Bachelor,M,0,85,3,Corporate Auto,790,Four-Door Car
7068,7068,UP19263,California,7524,College,M,21941,96,0,Personal Auto,691,Four-Door Car
7069,7069,Y167826,California,2611,College,M,0,77,0,Corporate Auto,369,Two-Door Car

In [81]:
df2.columns = [col.strip().replace(" ","_").lower() for col in df2.columns]
df2.dropna(how="all", inplace=True)
df2.loc[df2['gender'] == "female", "gender"] = "F"
df2.loc[df2['gender'] == "Femal", "gender"] = "F"
df2.loc[df2['gender'] == "Male", "gender"] = "M"
df2.loc[df2['st'] == "WA", "st"] = "Washington"
df2.loc[df2['st'] == "AZ", "st"] = "Arizona"
df2.loc[df2['st'] == "Cali", "st"] = "California"
df2.loc[df2['education'] == "Bachelors", "education"] = "Bachelor"
df2.loc[df2['vehicle_class'] == "Sports Car", "vehicle_class"] = "Luxury"
df2.loc[df2['vehicle_class'] == "Luxury SUV", "vehicle_class"] = "Luxury"
df2.loc[df2['vehicle_class'] == "Luxury Car", "vehicle_class"] = "Luxury"
df2["number_of_open_complaints"] = df2["number_of_open_complaints"].astype("int")
df2["gender"] = df2["gender"].fillna("N/A")
df2["customer_lifetime_value"]= df2["customer_lifetime_value"].str.replace("%","")
df2["customer_lifetime_value"] = df2["customer_lifetime_value"].astype("float")
df2["customer_lifetime_value"]= df2["customer_lifetime_value"].fillna(df2["customer_lifetime_value"].mean())
df2["customer_lifetime_value"] = df2["customer_lifetime_value"].astype("int")
df2["income"] = df2["income"].astype("int")
df2["monthly_premium_auto"] = df2["monthly_premium_auto"].astype("int")
df2["total_claim_amount"] = df2["total_claim_amount"].astype("int")
df2.reset_index()

,index,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount,policy_type,vehicle_class
0,0,GS98873,Arizona,F,Bachelor,323912,16061,88,0,633,Personal Auto,Four-Door Car
1,1,CW49887,California,F,Master,462680,79487,114,0,547,Special Auto,SUV
2,2,MY31220,California,F,College,899704,54230,112,0,537,Personal Auto,Two-Door Car
3,3,UH35128,Oregon,F,College,2580706,71210,214,1,1027,Personal Auto,Luxury
4,4,WH52799,Arizona,F,College,380812,94903,94,0,451,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...,...
991,991,HV85198,Arizona,M,Master,847141,63513,70,0,185,Personal Auto,Four-Door Car
992,992,BS91566,Arizona,F,College,543121,58161,68,0,140,Corporate Auto,Four-Door Car
993,993,IL40123,Nevada,F,College,568964,83640,70,0,471,Corporate Auto,Two-Door Car
994,994,MY32149,California,F,Master,368672,0,96,0,28,Personal Auto,Two-Door Car
995,995,SA91515,California,M,Bachelor,399258,0,111,0,700,Personal Auto,SUV

In [ ]:
df4 = pd.merge(df1,df2, how="outer")
df = pd.merge(df4,df3, how="outer")

In [85]:
df.isna().any()

customer                     False
st                           False
gender                       False
education                    False
customer_lifetime_value      False
income                       False
monthly_premium_auto         False
number_of_open_complaints    False
policy_type                  False
vehicle_class                False
total_claim_amount           False
dtype: bool

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [54]:
# Your code goes here

df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")

In [57]:
df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [60]:
df["total_claim_amount"] = round(df["total_claim_amount"],2)
saleby_channeldf = df.pivot_table(index="sales_channel", values=['total_claim_amount'], aggfunc='sum')
saleby_channeldf

               total_claim_amount
sales_channel
Agent                  1810226.88
Branch                 1301204.34
Call Center             926601.02
Web                     706600.02

In [ ]:
# The most successful sales channel is by Agent, and least is through the web. It can be assumed that more revenue can be gained through personal contact.

In [73]:
df["customer_lifetime_value"]

0         4809.2
1         2228.5
2        14947.9
3        22332.4
4         9025.1
          ...
10905    15563.4
10906     5259.4
10907    23893.3
10908    11972.0
10909     6857.5
Name: customer_lifetime_value, Length: 10910, dtype: float64

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [79]:

customervalue_profile = df.pivot_table(index='education', columns='gender', values=['customer_lifetime_value'], aggfunc="mean")
round(customervalue_profile,2)

                     customer_lifetime_value
gender                                     F        M
education
Bachelor                             7874.27  7703.60
College                              7748.82  8052.46
Doctor                               7328.50  7415.34
High School or Below                 8675.22  8149.69
Master                               8157.06  8168.83

In [ ]:
# It can be understood that there is minimal difference from Male to Female, and education levels. The highest valued customers seem to be male with highschool or below education.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here